.usersBioInfo {
    color: blue;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.imgIconDiv {
    width: 40%;
}
.container {
    display: flex;
}
.cardMediaImg {
    background: teal;
    margin-left: 10px;
}
.divContainer {
    display: flex;
    flex-direction: column;
}
.cardContentBlock {
    margin-left: 50px;
}